// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$background-color: #f0f0f0; /* Cool background color */
$primary-color: #333333; /* Dark gray primary color */
$secondary-color: #ffc107; /* Yellow secondary color */

:root {
    --bs-primary: #{$primary-color};
    --bs-secondary: #{$secondary-color};
}

body {
    background-color: $background-color;
}
/* Override Bootstrap bg-primary */
.navbar.bg-primary {
    background-color: $primary-color !important;
}

/* Override Bootstrap primary and secondary colors */
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary:disabled {
    color: $primary-color;
    background-color: $secondary-color;
    border-color: $secondary-color;
}

/* Override Bootstrap primary and secondary button color */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary.disabled,
.btn-secondary:disabled {
    color: $secondary-color;
    background-color: $primary-color;
    border-color: $primary-color;
}

/* Override Bootstrap pagination color */
.pagination .page-link {
    color: $primary-color;
    background-color: $background-color;
    border-color: $primary-color;
}

.pagination .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
}

// Define variables for easier customization
$footer-background-color: #f8f9fa;
$footer-padding: 10px;

// Style for the fixed footer
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $footer-background-color; // Use variable for background color
    padding: $footer-padding; // Use variable for padding
    text-align: center;

    // Optionally, nest further styles if needed
}
