
@charset "utf-8";
/* CSS Document */
 #generatedText1 {
  width: 90%;
    height: 45%;
    resize:vertical;
    
    position:relative; /* Change to fixed */

       align-self: auto;
         
}
#app {
    width: 100%;
}
#contentcat li.card {
    list-style: none;
}
#contentcat ul {
    padding: 0px;
    margin: 0;
}
#contentcat li.card {
    list-style: none;
    padding: 10px;
    margin: 10px 0px;
}
 #generatedText1 {
  width: 90%;
    height: 45%;
    resize:vertical;
    
    position:relative; /* Change to fixed */

       align-self: auto;
         
}
 #generatedText2 {
  width: 90%;
    height: 45%;
    resize:vertical;
    
    position:relative; /* Change to fixed */

       align-self: auto;
         
}

 body {
            font: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: 
            color: #333;
      position: relative; /* Add this line */
        }

       header {
    background-color: #3498db; /* Green header */
    color: #fff;
    padding: 15px;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
}

        main {
            width: 100%;
            max-width: 1200px;
            margin: 20px auto;
			
        }


        hr {
            border: 2px solid #3498db;
            margin: 20px 0;
        }

        #container {
            display: flex;
            justify-content: space-between;
        }

        #output {
            width: 50%;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            position: relative;
    
    
        
 }        
 .leftHolder {
    width: 50%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    background-color: #fff;
}
#contentcat .accordion {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    transition: 0.4s;
    font-size: 0.938rem;
    line-height: 2.0;
    margin: 10px 0px;
}


#contentcat .active, #contentcat  .accordion:hover {
  background-color: #3498db; 
}
#contentcat {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
}
#contentcat .panel {
  padding: 0 10px;
  display: none;
  background-color: white;
  overflow: hidden;
}
#checkboxes {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
}

        .section {
            display: none;
            margin-top: 10px;
			background-color:
        }

        .toggle-button {
			font: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
            background-color: #FFA500;
			border-color: 1px black;
			border-left-color: black;
            color: black;
            border: none;
            padding: 2px;
            border-radius: 3px;
			margin-bottom: 5px;
			
            cursor: pointer;
			 background-color: #F30000 
    	 cursor: pointer;
   		 width: 95%;
			
        }
		.toggle-button2 {
			font: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
			background-color: #FFA500;
			border-color: 1px black;
			border-left-color: black;
            color: black;
            border: none;
            padding: 2px;
            border-radius: 3px;
            cursor: pointer;
			 background-color: #E64A4D 
    	 cursor: pointer;
			margin-bottom: 5px;
   		 width: 95%;
        }

        .toggle-button:hover {
            background-color: #E64A4D;
        }
		.toggle-button5 {
    background-color: #3498db; /* Updated color: A nice shade of blue */
    
    font-weight: 400;
    color: white;
   
    font-size: 0.938rem;
    line-height: 2.0;
    list-style:lower-latin
    box-sizing: border-box;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    position: relative;
    display: block;
    float: left;
    margin-bottom: 5px; /* Improved section breakage */
    border-bottom: 5px solid #f9f9f9;
    cursor: pointer;
    width: 100%;
}
	.toggle-button56 {
    background-color: indianred; /* Updated color: A nice shade of blue */
    
    font-weight: 400;
    color: white;
   
    font-size: 0.938rem;
    line-height: 2.0;
    list-style:lower-latin
    box-sizing: border-box;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    position: relative;
    display: block;
    float: left;
 right: 0%;
    border-bottom: 5px solid #f9f9f9;
    cursor: pointer;
    width: 40%;
}
	.toggle-button567 {
    background-color: indianred; /* Updated color: A nice shade of blue */
    
    font-weight: 400;
    color: white;
   
    font-size: 0.938rem;
    line-height: 2.0;
    list-style:lower-latin
    box-sizing: border-box;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    position: relative;
    display: block;
    float: left;
 right: -10%;
    border-bottom: 5px solid #f9f9f9;
    cursor: pointer;
    width: 40%;
}


        textarea {
            width: 100%;
            height: 300px;
            resize: none;
            overflow: auto;
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
         
        }

        input[type="checkbox"] {
            margin-right: 5px;
        }

        select,
        input[type="text"] {
            margin-top: 5px;
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 4px;
        
        }
       input[type="text1"] {
            
     width: 35px;
        }

        button {
            padding: 8px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
			font: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
        }

        button:hover {
            background-color: #3498db;
            color: #fff;
        }
        .actionSectionHolder {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .actionButtonHolder {
            width: 45%;
            position: fixed;
        }
        #generatedText {
            width: 45%;
            height: 75%;
            resize: vertical;
            position: fixed;
            top: 300px;
        }
        .saveHolder {
            display: flex;
            align-items: center;
            position: relative;
        }
.copyfi button {
    flex: 0 0 49%;
}
.copybut {
     padding: 8px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
			font: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	
        
}
input#saveName {
    flex: 1;
    margin: 0;
}
.copyfi {
    display: flex;
    gap: 2%;
    justify-content: space-between;
    align-items: center;
}
.saveContent {
    padding: 8px;
           border: none;
           border-radius: 4px;
           cursor: pointer;
           font: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.saveholder {
    display: flex;
    align-items: center;
}
.saveholder #nameInput {
    margin: 0px !important;
}
.saveContent:hover::after {
  content: "Click this button to save";
  top: 100%;
  left: 50%;
    width: 100%;
  transform: translateX(-50%);
  background-color: #3498db;
  color: #fff;
  padding: 5px;
  border: 1px solid #888;
  border-top: none;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s, visibility 0.2s;
}

.saveContent::after {
 content: "Click this button to save";
  position: absolute;
  top: 100%;
  left: 50%;
     width: 100%;
  transform: translateX(-50%);
  background-color: #3498db;
  color: #fff;
  padding: 5px;
  border: 1px solid #888;
  border-top: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}
.saveContent:hover{
  border: 1px solid #888;
  background-color: #3498db;
 transition: visibility 0.002s;
}


.finalize {
    padding: 8px;
           border: none;
           border-radius: 4px;
           cursor: pointer;
           font: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}


.finalize:hover::after {
  content: "Click this button to allow editing in text area. You will not be able to edit left section. If you disable button and edit on left, all your custom notes will be deleted.";
  position: absolute;
  top: 100%;
  left: 50%;
    width: 100%;
  transform: translateX(-50%);
  background-color: #3498db;
  color: #fff;
  padding: 5px;
  border: 1px solid #888;
  border-top: none;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s, visibility 0.2s;
}

.finalize::after {
 content: "Click this button to allow editing in text area. You will not be able to edit left section. If you disable button and edit on left, all your custom notes will be deleted.";
  position: absolute;
  top: 100%;
  left: 50%;
     width: 100%;
  transform: translateX(-50%);
  background-color: #3498db;
  color: #fff;
  padding: 5px;
  border: 1px solid #888;
  border-top: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}
.finalize:hover{
  border: 1px solid #888;
  background-color: #3498db;
 transition: visibility 0.002s;
}



   table {
            width: auto;
            border-collapse: collapse;
            margin-top: 20px;
       
        }

        th, td, col {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

 footer {
 background-color: #3498db;
            color: #fff;
            padding: 10px;
            text-align: center;
            width: 100%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
			font: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
        position: absolute; /* Change from relative to fixed */
      
    
    left: 0; /* Add this line */
    right: 0; /* Add this line */
    
}

   

       
#J54TextInput {
    
}
